
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>


@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<WebApplication3.Models.runner>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<h2>Runners</h2>
Welcome @HttpContext.Current.User.Identity.Name
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}
<div>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
        <p>
            Name: @Html.TextBox("SearchString") <input type="submit" value="Search" />
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            Bib
        </th>
        <th>
            Age
        </th>
        <th>
            City
        </th>
        <th>
            DivPl
        </th>
        <th>
            Name
        </th>
        <th>
            Overall
        </th>
        <th>
            Sex
        </th>
        <th>
            SexPl
        </th>
        <th>
            State
        </th>
        <th>
            Time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivPl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexPl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Bib }) |
                @Html.ActionLink("Details", "Details", new { id = item.Bib }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Bib })
            </td>
        </tr>
    }

</table>

<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Admin",
        new { page, currentFilter = ViewBag.CurrentFilter }))


